input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #000;
  background-color: #fff;
  border: 0.5px solid #272C48;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #fff;
  border: 1px solid #272C48;
}

.parsley-errors-list {
  margin: 4px 0px 0px;
  padding: 0;
  line-height: 14px;
  list-style-type: none;
  font-size: 12px;
  opacity: 0;
  color: red;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}